<body class="bg-dark text-white py-5">
    <div class="container py-5">
         <div class="row">
              <div class="col-md-2 text-center">
                   <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
              </div>
              <div class="col-md-10">
                   <h3>OPPSSS!!!! Spiacente...</h3>
                   <p>Mi dispiace ma non hai sufficenti privilegi per accedere alla pagina richiesta<br/>Accedi con un diverso utente</p>
                   <a class="btn btn-danger" href="login">Torna al Login</a>
              </div>
         </div>
    </div>
</body>
